# Virtual env
myenv/
venv/
.env
# Streamlit/Manim caches & generated media
media/videos/
media/Tex/
media/images/
media/texts/
*.mp4
*.mp3

# Python artifacts
__pycache__/
*.pyc


# Database (optional)
math_tutor.db
